body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #008891;
  padding: 50px;
  width: 800px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: #0f3057;
  font-size: 48px;
  text-align: center;
  margin: 40px;
}

h2 {
  border: 1px solid rgba(0, 88, 122, 1);
  padding: 10px;
  background: rgba(0, 88, 122, 0.4);
  border-radius: 4px;
  width: 400px;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  position: relative;
}

hr {
  width: 100%;
  height: 10px;
  position: relative;
  top: -30px;
}

footer {
  text-align: center;
  margin: 50px 0 20px 0;
  color: grey;
}

.containing {
  background-color: rgba(0, 136, 145, 0.2);
  border: 4px solid rgba(0, 88, 122, 0.4);
  border-radius: 4px;
  width: 800px;
  padding: 50px;
}

.temperature {
  font-weight: lighter;
}

.units {
  font-size: 18px;
  position: relative;
  top: -12px;
}

.forecast {
  position: relative;
  top: -80px;
  border: 1px solid rgba(0, 88, 122, 1);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background: rgba(0, 88, 122, 0.4);
  border-radius: 4px;
  margin: 0 auto;
}

.change-location {
  position: relative;
  left: 80px;
  font-size: 20px;
  margin: 20px;
}

.open-source-link {
  text-decoration: none;
}

#current-temperature {
  position: relative;
  top: -65px;
  right: 75px;
  text-align: right;
  font-size: 35px;
  margin-bottom: 0;
  text-decoration: none;
  transition: 150ms ease-in-out all;
  cursor: default;
}

#celsius-button {
  color: #008891;
  text-decoration: none;
  cursor: default;
}

#celsius-button:hover {
  color: #0f3057;
  cursor: default;
}

#fahrenheit-button {
  color: #008891;
  text-decoration: none;
  cursor: default;
}

#fahrenheit-button:hover {
  color: #0f3057;
  cursor: default;
}

#current-icon-date {
  top: -60px;
  right: -190px;
  font-size: 20px;
}

#weather-conditions {
  top: -135px;
  left: -170px;
  text-align: center;
  font-size: 20px;
}

#condition-description {
  text-transform: capitalize;
}

#search-form {
  margin: 0 0 0 -90px;
}
